body {
	background-color: khaki;
}

#main-text {
	height: 29rem;
	width: 40rem;
}

#root {
	margin: auto;
	padding: 0;
	width: 40rem;
}

#output-info {
	height: 14rem;
	width: 40rem;
}

textarea {
	border-radius: 0.3rem;
	padding: 0.2rem;
}
